:root {
    background-color: hsl(205, 100%, 96%);
}

.nav-center {
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-function {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* form */

form {
    /* background-color: red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form:hover {
    background-color: hsl(205, 100%, 93%);
    transition: all 0.3s linear;
}

/* label */

form label {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

/* upload */
input[name="fileupload"] {
    font-size: 20px;
    padding: 20px;
    border: 3px dotted gray;
    border-radius: 10px;
}

/* button */

.btn {
    border: 2px solid black;
    padding: 15px;
    font-size: 20px;
    margin: 20px;
    background-color: hsl(205, 100%, 96%);
    text-transform: uppercase;
    border-radius: 20px;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: all 0.3s linear;
}